section {
    background-image:url("https://www.w3schools.com/css/gradient_bg_vertical.png");
    background-position: left top;
    background-repeat: repeat-y;
}
article {
    background-image: url("https://fastly.picsum.photos/id/141/200/300.jpg?hmac=d8Mh3TnTbeViVLDauKiTRsNX8KAY5RGDbXDwEuecPko");
    background-position: right top; 
    background-repeat: no-repeat;
}